* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*** Global Style ***/

body {
  font-family: "Calibri";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

.inner {
  position: relative;
  width: 100%;
}

ul,
li {
  list-style: none;
}
/***************/
/* Hameburger */
/***************/
body {
  padding-top: 90px;
}
header {
  background-color: #0a383f;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.top-header {
  position: relative;
  z-index: 999;
  transition: 0.5s;
}
.menu-open .top-header {
  background: #000;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-wrap .buttons-wrap {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logo-wrap {
  position: relative;
  max-width: 200px;
  transition: 0.5s;
}

.centered-menu {
  transition: 0.5s;
}
.centered-menu .centered-menu-ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.menu-open .centered-menu {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.centered-menu .centered-menu-ul li {
  position: relative;
}
.centered-menu .centered-menu-ul > li {
  margin: 0 10px;
}
.centered-menu li a {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  line-height: 1;
  padding: 35px 0;
  flex-grow: 1;
  transition: 0.5s;
}

.centered-menu li.current_page_ancestor a,
.centered-menu li.active a {
  font-weight: 600;
}
.contact-btn a {
  position: relative;
  background: #8db239;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 30px;
  border-radius: 7px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  margin-right: 40px;
  overflow: hidden;
  transition: 0.5s;
}

.contact-btn a:hover {
  color: #8db239;
}
/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.contact-btn i {
  margin-left: 10px;
  font-size: 16px;
  line-height: 1;
}
/***************/
/* Submenu Style for centered menu */
/***************/
.centered-menu .sub-menu {
  display: none;
  position: absolute;
  top: calc(100%);
  left: 0;
  width: 200px;
  background: #fff;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  transition: 0.5s;
}

.centered-menu .sub-menu li {
  transition: 0.5s;
}
.centered-menu .sub-menu li:hover > .a-Wrap {
  background-color: #f3f7eb;
}
.centered-menu li:hover > .a-Wrap + .sub-menu {
  display: block;
}
.centered-menu li .sub-menu a {
  padding: 15px;
  color: #0a3840;
  font-size: 18px;
}
.a-Wrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.subMenuAngle {
  display: inline-block;
  margin-left: 5px;
}
.sub-menu .subMenuAngle {
  margin-right: 15px;
}
.subMenuAngle i {
  font-size: 12px;
  color: #fff;
}
.sub-menu .subMenuAngle i {
  color: #8db239;
}
.centered-menu .sub-menu .sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
}
/***************/
/* Hamburger */
/***************/
.hamburger {
  background: #8db239;
  border-radius: 7px;
  transform: rotateY(-180deg);
  transition: 0.5s;
  overflow: hidden;
}
.hamburger,
.hamburger svg {
  width: 44px;
  height: 44px;
  transition: 0.5s;
}

.hamburger:hover {
  background: #fff;
}
.hamburger .line {
  stroke: #fff;
  stroke-width: 5px;
  transition: 0.5s;
}
.hamburger:hover .line {
  stroke: #8db239;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 30 111;
}
.ham7 .bottom {
  stroke-dasharray: 20 161;
}
.hamburger .active.ham7 .middle {
  stroke-dasharray: 40 111;
}
.hamburger .active.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.hamburger .active.ham7 .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.hamburger .active.ham7 .middle {
  stroke-dashoffset: 23px;
}
.hamburger .active.ham7 .bottom {
  stroke-dashoffset: -83px;
}
/***************/
/* full-screen-header */
/***************/
.full-screen-header .container.p-0 {
  padding: 0 12px !important;
}
.full-screen-header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  display: none;
}
.full-screen-header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 150px 0 200px;
}
.header-contact-us {
  background-color: #000;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 100px;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}
.menu-open .header-contact-us {
  animation-duration: 1500ms;
  animation-delay: 1500ms;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}
.link-button {
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  margin-bottom: 20px;
}
.header-sci {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-sci li {
  margin-right: 50px;
}
.header-sci a {
  font-size: 18px;
  color: #fff;
}
.full-screen-header a {
  position: relative;
  padding-bottom: 7px;
  color: #fff;
}
.full-screen-header a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: 0.5s;
}
.full-screen-header a:hover {
  color: #fff;
}
.full-screen-header a:hover::before {
  width: 100%;
}
.toggled-menu-wrap {
  width: 100%;
}
.toggled-menu {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 30px;
  padding-left: 30px;
}
.toggled-menu::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.toggled-menu::-webkit-scrollbar-thumb {
  background-color: #8db239;
}
.toggled-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #f5f5f5;
}

.toggled-menu-ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.toggled-menu-ul > li {
  width: 25%;
}
.toggled-menu-ul > li > .a-Wrap > a {
  position: relative;
  font-size: 54px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 25px;
}
.toggled-menu-ul .sub-menu a {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  color: #d3d3d3;
  margin-bottom: 10px;
}
.toggled-menu-ul .sub-menu a::before {
  background-color: #d3d3d3;
}
.toggled-menu-ul .subMenuAngle {
  display: none;
}
.toggled-menu-ul > li > .a-Wrap > a::after {
  content: "" attr(data-item) "";
}
.toggled-menu-ul > li > .a-Wrap > a::after {
  content: "" attr(data-item) "";
  position: absolute;
  left: 0;
  top: -30px;
  opacity: 0.2;
  transform: scale(1.15);
}
.toggled-menu-ul .sub-menu .sub-menu {
  padding-left: 15px;
}
.menu-open .toggled-menu-ul > li > .sub-menu {
  margin-bottom: 40px;
}

.toggled-menu-ul > li {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.menu-open .toggled-menu-ul > li {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}
.menu-open .toggled-menu-ul > li:nth-child(1) {
  animation-delay: 300ms;
}
.menu-open .toggled-menu-ul > li:nth-child(2) {
  animation-delay: 600ms;
}
.menu-open .toggled-menu-ul > li:nth-child(3) {
  animation-delay: 900ms;
}
.menu-open .toggled-menu-ul > li:nth-child(4) {
  animation-delay: 1200ms;
}
.menu-open .toggled-menu-ul > li:nth-child(5) {
  animation-delay: 1500ms;
}
.menu-open .toggled-menu-ul > li:nth-child(6) {
  animation-delay: 1800ms;
}
.menu-open .toggled-menu-ul > li:nth-child(7) {
  animation-delay: 2100ms;
}
.menu-open .toggled-menu-ul > li:nth-child(8) {
  animation-delay: 2400ms;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@media (max-width: 1399.98px) {
  .centered-menu li a {
    font-size: 18px;
  }
  .centered-menu li .sub-menu a {
    padding: 10px;
    font-size: 16px;
  }
  .contact-btn a {
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 30px;
  }
  .hamburger,
  .hamburger svg {
    width: 39px;
    height: 39px;
  }
  .full-screen-header {
    padding: 100px 0 150px;
  }
  .toggled-menu-ul > li > .a-Wrap > a {
    font-size: 38px;
    margin-bottom: 15px;
  }
  .toggled-menu-ul > li > .a-Wrap > a::after {
    top: -20px;
  }
  .toggled-menu-ul .sub-menu a {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .link-button {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .header-sci a {
    font-size: 16px;
  }
  .header-contact-us {
    padding-bottom: 50px;
  }
}
@media (max-width: 1199.98px) {
  .centered-menu li a {
    font-size: 16px;
  }
  .centered-menu li .sub-menu a {
    font-size: 15px;
  }
  .contact-btn a {
    font-size: 16px;
    margin-right: 20px;
  }
  .toggled-menu {
    padding-top: 20px;
    padding-left: 20px;
  }
  .toggled-menu-ul > li > .a-Wrap > a {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .toggled-menu-ul .sub-menu a {
    font-size: 16px;
  }
  .link-button {
    font-size: 20px;
  }
}
@media (max-width: 991.98px) {
  header {
    padding: 12px 0;
  }
  .logo-wrap {
    max-width: 180px;
  }
  .toggled-menu {
    padding-left: 10px;
  }
  .centered-menu {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .full-screen-header {
    padding: 80px 0 100px;
  }
  .toggled-menu-ul > li {
    width: 100%;
    margin-bottom: 20px;
  }
  .toggled-menu-ul > li > .a-Wrap > a {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .toggled-menu-ul > li > .a-Wrap > a::after {
    top: -10px;
  }
  .header-sci li {
    margin-right: 30px;
  }
  .header-contact-us {
    padding-bottom: 20px;
  }
  .menu-open .toggled-menu-ul > li > .sub-menu {
    margin-bottom: 0;
  }
  .toggled-menu-ul .sub-menu .sub-menu {
    padding-left: 10px;
  }
  .contact-btn {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .full-screen-header-wrap {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header-sci .text {
    display: none;
  }
}
@media (min-width: 1399.98px) {
  .sticky .logo-wrap {
    max-width: 180px;
  }
  .sticky .centered-menu .centered-menu-ul > li > .a-Wrap a {
    font-size: 18px;
    padding: 30px 0;
  }
  .sticky .contact-btn a {
    font-size: 18px;
    padding: 10px 25px;
  }
  .sticky .hamburger,
  .sticky .hamburger svg {
    width: 40px;
    height: 40px;
  }
}
